body {
  text-align: center;
  font-family: monospace, Helvetica, sans-serif;
  background-color: #0a192f;
  color: #a8b2d1;
}

.h1 {
  padding: 1rem 0;
  margin: 0;
}

.container {
  border: 1px solid #64ffda;
  width: 70%;
  margin: 0 auto;
}

.cabecera {
  border-bottom: 1px solid #64ffda;
  padding: 1rem;
  font-size: 3rem;
  background-color: #64ffdb30;
  color: #e6f1ff;
}

.cabecera small {
  font-size: 1rem;
}
